.text-size{
    font-size: 35px;
    color: blue;
}
.background-yellow{
    background-color: orange;
    color: white;
}
.background-grey{
    background-color:  #5c5c3d;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.font-color{
    color: orange;
}
body{
    font-family: 'Times New Roman', Times, serif
}